<img src="https://upload.wikimedia.org/wikipedia/commons/6/68/LOGO_UEU_BY_ASU-06.png" width=50% height=50%>

<table style="width:75%">
  <tr>
    <td><b>Dosen Pengampu</b></td>
    <td>Jefry Sunupurwa Asri , S.Kom., M.Kom.</td>
   </tr>
  <tr>
    <td><b>Mahasiswa</b></td>
    <td>Bagus Rosyid Hamdani</td>
  </tr>
  <tr>
    <td><b>NIM</b></td>
    <td>20210801467</td>
  </tr>
  <tr>
    <td><b>Jurusan</b></td>
    <td>Teknik Informatika</td>
  </tr>
  <tr>
    <td><b>Mata Kuliah</b></td>
    <td>Machine Learning</td>
  </tr>
</table>

# *UTS*

 
1)	Sempurnakan Data Set 
Universitas Esa Unggul memiliki detail mahasiswa sebagai berikut : 
Ani, Budi, Joni, Jono dan Lono 
Setiap mahasiswa dating ke kampus mulai dari hari senin sampai minggu 
Untuk melakukan kegiatan kuliah 
Ani menghabiskan biaya 30000 dikampus setiap datang 
Budi menghabiskan biaya 35000 dikampus setiap datang 
Joni menghabiskan biaya 20000 dikampus setiap datang 
Jono 25000 dan Lono 15000 
HARI 	DATANG 	BIAYA 	MAHASISWA 
Senin 	2 	30000x2 	Ani 
Selasa 	3 	35000x3 	Budi 
Rabu 	4 	25000x4 	Jono 
Kamis 	1 	15000x1 	Lono 
Jumat 	2 	20000x2 	Joni 
Sabtu 	5 	30000x5 	Ani 
Minggu 	2 	35000x2 	Budi 
 
a)	Berapa rata-rata mahasiswa datang pada minggu ini?

# Dataset

In [70]:
import pandas as pd

In [71]:
data = {
    "hari": ["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"],
    "hari_datang": [2, 3, 4, 1, 2, 5, 2],
    "biaya": [2 * 30000, 3 * 35000, 4 * 25000, 1 * 15000, 2 * 20000, 5 * 30000, 2 * 35000],
    "mahasiswa": ["Ani", "Budi", "Jono", "Lono", "Jono", "Ani", "Budi"],
}

# DataFrame
df = pd.DataFrame(data)

In [73]:
print("Rata-rata mahasiswa datang pada minggu ini:", df["hari_datang"].mean())

Rata-rata mahasiswa datang pada minggu ini: 2.7142857142857144